:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 10%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
hsl(108,48.84%,42.16%)
hsl(108,49.3%,72.16%)
hsl(107.65,50%,86.67%)
hsl(77.65,50%,86.67%)
hsl(77.14,49.3%,72.16%)
hsl(77.14,48.84%,42.16%)
 */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
}

body > * {
  padding: 0 10px;
}

header {
  padding-top: 10px;
  background-color: hsl(108,48.84%,42.16%);
}

main {
  padding-top: 10px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.form {
  align-self: end;
  justify-self: center;
  padding-bottom: 10px;
}

.content {
  align-self: top;
  justify-self: center;
  padding-top: 10px;
}

.content .short {

}

.content .copy-short {
  margin-left: 10px;
}

footer {
  background-color: hsl(108,48.84%,22.16%);
  color: hsl(0, 0%, 96%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
